image: Visual Studio 2022

branches:
  only:
    - master
    - develop
    - /release/.*/
    - /hotfix/.*/
    - /feature/.*/
    - /bugfix/.*/

environment:
  nodejs_version: "10"
  IGNORE_NORMALISATION_GIT_HEAD_MOVE: 1

install:
  - git submodule update --init --recursive
  - choco install gitversion.portable --version 5.10.3 -y
  - ps: Install-Product node $env:nodejs_version
  - npm install source/Jobbr.Dashboard.Frontend/jobbr-dashboard --prefix source/Jobbr.Dashboard.Frontend/jobbr-dashboard

assembly_info:
  patch: false

before_build:
  - cmd: cd source\Jobbr.Dashboard.Frontend\jobbr-dashboard & au build --env prod
  - cmd: cd source\Jobbr.Dashboard.Frontend\jobbr-dashboard\dist & 7z a -tzip dashboard-app.zip *.*
  - cmd: copy dashboard-app.zip ..\..\..\..\dashboard-app.zip  
  - cmd: copy dashboard-app.zip ..\..\..\Jobbr.Dashboard\dashboard-app.zip
  - cmd: cd ..\..\..\..
  - nuget restore source/Jobbr.Dashboard.sln
  - ps: C:\ProgramData\chocolatey\lib\GitVersion.Portable\tools\GitVersion.exe /l console /output buildserver /updateprojectfiles

platform: Any CPU
configuration: Release

build:
  parallel: true 
  project: source/Jobbr.Dashboard.sln


after_build:
  - cmd: nuget pack Jobbr.Dashboard.nuspec -version "%GitVersion_SemVer%" -prop "target=%CONFIGURATION%"
  - cmd: appveyor PushArtifact "Jobbr.Dashboard.%GitVersion_SemVer%.nupkg"

test:
  assemblies:
    - '**\bin\Release\Jobbr.Dashboard.Tests.dll'

deploy:
- provider: NuGet
  server: https://nuget.org
  api_key:
    secure: anKLNUxe1pn63rrNVCigoQVfA/fWML9gEpE1UHRLK/LDmQX4SM9WwzDx0kliHKWC
  on:
    appveyor_repo_tag: true