.jobs {
  .job {
    background: $box-background-color;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;

    .job-status {
      width: 30px;
      text-transform: uppercase;
      
    }

    .job-status-running {
      background-color: $job-running;
      color: $text-color-highlight;
    }
    
    .job-status-inactive {
      background-color: $job-offline;
      color: $text-color-highlight;
    }

    .job-select {
      width: 40px;
      padding: 8px;
    }

    .job-content {
      padding: 8px;
      padding-top: 14px;
      flex-grow: 1;
      min-height: 85px;

      display: flex;

      .job-details {
        display: flex;
        flex-direction: column;

        .job-title-line {
          flex-grow: 1;
        }

        h2 {
          margin-top: 9px;
        }

        .job-parameters {         
          min-width: 350px;
          
          .code {
            margin-top: 60px;
          }
        }

        .job-triggers {
          flex-grow: 1;
        }

        job-details {
          display: flex;
        }
      }
    }
  }

  .running {
    border: 1px solid $job-running;
  }

  .not-running {
    border: 1px solid $job-offline;
  }

  .trigger-table {
    margin: 24px;
    width: 800px;
    background-color: $background-color;

    th:nth-child(1) { width: 30px; }
    th:nth-child(2) { width: 200px; }
    th:nth-child(3) { width: 120px; }
    th:nth-child(4) { width: 145px; }
    th:nth-child(5) { width: 145px; }
    th:nth-child(6) { width: 145px; }
    
    tr:nth-child(odd) {
      background-color: #272A31;
    }

    tr:nth-child(even) {
      background-color: #22252B;
    }

    th {
      text-transform: capitalize;
    }

    th, td {
      padding: 6px;
    }
  }
}
