@import '../../static/styles/variables';

.jobs {
  .job {
    background: $box-background-color;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;

    .job-status {
      width: 30px;
      text-transform: uppercase;
      
    }

    .job-status-running {
      background-color: $job-running;
      color: $text-color-highlight;
    }
    
    .job-status-inactive {
      background-color: $job-offline;
      color: $text-color-highlight;
    }

    .job-select {
      width: 40px;
      padding: 8px;
    }

    .job-content {
      padding: 8px;
      flex-grow: 1;

      display: flex;

      .job-details {
        display: grid;
        grid-template-rows: 44px auto;
        grid-template-columns: 260px auto;

        .job-title-line {
          grid-row: 1 / 2;
          grid-column: 1 / 3;
        }

        .job-parameters {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
        }

        .job-triggers {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
        }
      }
    }
  }

  .running {
    border: 1px solid $job-running;
  }

  .not-running {
    border: 1px solid $job-offline;
  }

  .trigger-table {
    margin: 24px;
    width: 800px;
    background-color: $background-color;
    
    tr:nth-child(odd) {
      background-color: #272A31;
    }

    tr:nth-child(even) {
      background-color: #22252B;
    }

    th {
      text-transform: capitalize;
    }

    th, td {
      padding: 6px;
    }
  }
}
