<template>
  <div class="nav-title">
    <!-- <img src="../../static/img/logo.png" /> -->
    <strong>Jobbr</strong> Dashboard
  </div>
  <ul class="nav">
    <li><a href="#"><span><i class="fab fa-microsoft"></i></span> Dashboard</a></li>
    <li><a href="#"><span><i class="fas fa-align-justify"></i></span> Job Queue</a></li>
    <li><a href="#"><span><i class="far fa-calendar"></i></span> Triggers</a></li>
    <li><a href="#"><span><i class="fas fa-cog"></i></span> Settings</a></li>
  </ul>
</template>
