<template>
  <ul class="jobbr-nav">
    <li>
      <a route-href="route: dashboard">
        <span>
          <i class="fab fa-microsoft"></i>
        </span> Dashboard
      </a>
    </li>
    <li>
      <a route-href="route: jobs">
        <span>
          <i class="far fa-calendar"></i>
        </span> Jobs
      </a>
    </li>
    <li>
      <a route-href="route: runs">
        <span>
          <i class="fas fa-flag-checkered"></i>
        </span> Job Runs
      </a>
    </li>
    <li>
      <a route-href="route: settings">
        <span>
          <i class="fas fa-cog"></i>
        </span> Settings
      </a>
    </li>
  </ul>
</template>
