<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Execution" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.Execution.Forked" version="1.0.0" targetFramework="net462" />
  <package id="Jobbr.Server" version="1.1.0-unstable.4" targetFramework="net462" />
  <package id="Jobbr.Server.WebAPI" version="1.1.0-unstable.2" targetFramework="net462" />
  <package id="Jobbr.Storage.RavenDB" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="RavenDB.Client" version="3.5.4" targetFramework="net462" />
</packages>