@import 'variables';

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: pink;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $checkbox-border-color;
  background: $background-color;
}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: $main-color;
  position: absolute;
  top: 6px;
  left: 6px;
  transition: all 0.1s ease;
}

[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

