// $background-color: #22252B;

// $main-color: #ca1c59;

// $job-running: #5B933F;
// $job-paused: #dd992c;
// $job-error: #a52731;
// $job-info: #24578f;
// $job-primary: #b21557;
// $job-offline: #63728a;

// $item-header-background: #98a7b7;
// $item-header-background2: #39434f;

// $text-success: #6ebf3a;
// $text-success-light: #bde052;
// $text-warning: #ffc533;
// $text-info: #266cb3;

// $text-color: #98a7b7;
// $text-color-highlight: #f0f4f6;
// $text-table-header-color: #f0f4f6;

// $border-color: #39434f;

// $panel-background-color: #2c343c;
// $panel-header-background-color: #39434f;

// $chart-color-1: #0572A1;
// $chart-color-2: #D19035;
// $chart-color-3: #D93C39;
// $chart-color-4: #669F3F;
// $chart-color-5: #026191;
// $chart-color-6: #20C4D8;
// $chart-color-7: #7050AB;

// $menu-background: transparent;
// $menu-background-hover: $panel-background-color;

// $nav-dashboard-color: #34b3e4;
// $nav-jobqueue-color: #b968c7;
// $nav-triggers-color: #7cb82f;
// $nav-settings-color: #8fb1cc;

// $footer-background-color: #39434F;
// $footer-border-top-color: #555B62;

