@import 'variables';

.text-highlight {
  color: $text-color-highlight;
}

.text-success {
  color: $text-success;
}

.text-warning {
  color: $text-warning;
}

.text-error {
  color: $job-error;
}

.text-inactive {
  color: #FF652F;
}

.text-info {
  color: $text-info;
}

h2 {
  color: $main-color;
  margin-top: 0;
  margin-bottom: 8px;
  
  small {
    color: $text-color;
    font-size: 0.6em;
  }
}

.rotated-text {
  display: inline-block;
  overflow: hidden;
  width: 1.2em;
  padding-top: 8px;
}

.rotated-text__inner {
  display: inline-block;
  white-space: nowrap;
  transform: translate(1.6em, 0) rotate(90deg);
  transform-origin: 0 0;
}

.rotated-text__inner:before {
  content: "";
  float: left;
  margin-top: 100%;
}
