@import 'variables';

$box-gap: 18px;

.box {
  h1 {
    font-size: 1.6em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.6em;
    font-weight: normal;
    color: $main-color;
    margin: 0;
    margin-bottom: 16px;
  }

  background-color: $box-background-color;

  > .box-title {
    background-color: $box-header-background-color;
    
    h1 {
      text-transform: uppercase;
      font-size: 1.0em;
      margin: 0;
      padding: 8px 14px;
    }
  }

  > .box-content {
    padding: 12px;
  }
}

.box-table {
  padding: 12px;
}

.box-no-title {
  > .box-content {
    padding: 24px;
  }
}
