@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $background-color;
}

.page {
  display: grid;
  grid-template-rows: 66px auto 30px;
  grid-template-columns: 260px 1fr;
  height: 100vh;
}

.content {
  border-left: 1px solid $border-color;
  padding: 24px;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  grid-row: 1/ 2;
  grid-column: 1 / 2;
  padding: 8px 14px;
  border-bottom: 1px solid $border-color;
  strong {
    font-size: 40px;
    color: #ffc533;
  }
}

.sidebar {
  background-color: $background-color;
}

footer {
  background-color: $footer-background-color;
  border-top: 1px solid $footer-border-top-color;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  div {
    border-left: 1px solid rgba(99, 114, 138, .4);
    padding: 5px 9px 5px 4px;
  }
  div:first-child {
    border: 0;
  }
  .icon {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.extra-spacing-right {
  margin-right: 8px;
}

.fill {
  flex-grow: 1;
}

.left-right-container {
  display: flex;
  justify-content: space-between;
}
