@import 'variables';

table {
  table-layout: fixed;
  width: 100%;

  th {
    color: $table-header-color;
    background-color: $table-background-color;
    font-weight: bold;
  }

  tr:nth-child(odd) {
    background-color: $table-row-odd-color;
  }

  tr:nth-child(even) {
    background-color: $table-row-even-color;
  }

  tr:hover {
    background-color: $table-row-hover-color !important;
  }

  th, td {
    padding: 8px;
    word-wrap: break-word;
  }
}
